<launch>

  <include file="$(find robot_connect)/launch/joy_play.launch"/>

	<node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
    <!-- Set the port to connect to here -->
	<!--remap from="scan" to="base_scan" /-->
    	<!--param name="min_ang" type="double" value="-2.08621"/-->
	<!--param name="max_ang" type="double" value="2.08621"/-->
    	<param name="min_ang" type="double" value="-1.57"/>
	<param name="max_ang" type="double" value="1.57"/>
    	<param name="port" type="string" value="/dev/ttyACM0"/>
    	<param name="frame_id" type="string" value="/laser"/>
    	<param name="intensity" type="bool" value="false"/>
  	</node>

  <node pkg="rviz" type="rviz" name="rviz" 
    args="-d $(find laser_scan_matcher)/demo/demo.vcg"/>

  #### publish an base_link -> laser transform ###########

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.2 0.0 0.18 0.0 0.0 0.0 /base_link /laser 20" />
  #### start the laser scan_matcher ##############################

  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" 
    name="laser_scan_matcher_node" output="screen">
	<param name="fixed_frame" value="odom"/>
	<param name="publish_tf" value="false"/>
	<param name="use_vel" value="false"/>
	<param name="do_compute_covariance" value="1"/>
	<param name="kf_dist_linear" value="0.0"/>
	<param name="kf_dist_angular" value="0.0"/>
    <param name="max_iterations" value="10"/>
	<param name="max_angular_correction_deg" value="30.0"/>
	<param name="max_linear_correction" value="0.12"/>
  </node>

 <include file="$(find robot_connect)/launch/my_dwa.launch"/>
 <!--node name="robot_est" pkg="robot_connect" type="robot_est.py"/-->

</launch>
