<launch>
	<!-- Filter for tilt laser shadowing/veiling -->
	<node pkg="laser_filters" type="scan_to_cloud_filter_chain" respawn="true" name="tilt_shadow_filter">
	  <remap from="scan" to="tilt_scan" />
	  <remap from="cloud_filtered" to="tilt_scan_shadow_filtered" />
	  <param name="target_frame" value="base_footprint" />
	  <param name="high_fidelity" value="true" />
	  <rosparam command="load" file="$(find robot_connect)/launch/config/tilt_laser_filters.yaml" />
	  <!--rosparam command="load" file="$(find robot_connect)/launch/config/point_cloud_footprint_filter.yaml" /-->
	</node>
	
  <node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler">
    <remap from="scan" to="tilt_scan"/>
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>
	
	 <node pkg="semantic_point_annotator" type="sac_inc_ground_removal_node" name="sac_ground_removal" output="screen">
  	<remap from="tilt_laser_cloud_filtered" to="tilt_scan_shadow_filtered" />
  	<remap from="cloud_ground_filtered" to="ground_object_cloud" />
  	<param name="fixed_frame" value="odom_combined" />
  	<param name="z_threshold" value="0.15" />
  	<param name="sac_min_points_per_model" value="40" />
  	<param name="sac_distance_threshold" value="0.05" />
  	<param name="planar_refine" value="1" />
  </node>
</launch>
