<launch>
	<include file="$(find openni_launch)/launch/openni.launch"/>
	
	<node pkg="dynamic_reconfigure" type="dynparam" name="resetter" args="set /camera/driver depth_mode 8" />

	<node pkg="tf" type="static_transform_publisher" name="kinect_to_base" args="0 0 0.80 0 0.314 0 base_link camera_link 100" />

  	<!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_connect)/launch/virtual_laser.vcg"/-->
    
	<node pkg="robot_connect" type="virtual_laser" name="virtual_laser" output="screen" />
</launch>
