<launch>
	
	<node ns="laser" name="base_laser" pkg="urg_node" type="urg_node" respawn="true" output="screen">
    	        <param name="serial_port" type="string" value="/dev/ttyACM0"/>
    	        <param name="serial_baud" type="int" value="115200"/>
    	        <param name="frame_id" type="string" value="/base_laser"/>
    	        <param name="publish_intensity" type="bool" value="false"/>
    	        <param name="angle_min" type="double" value="-1.57"/>
		<param name="angle_max" type="double" value="1.57"/>
  	</node>

	<!--#### publish an base_link -> laser transform ###########-->

	<node ns="tf" pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.26 0.0 0.18 0.0 0.0 0.0 base_link base_laser 100" />
</launch>
