<launch>
	<!-- Connect to base and joy -->
	<include file="$(find hardware_bridge)/launch/joy_play.launch"/>
	<node ns="base" name="odometry_est" pkg="hardware_bridge" type="odometry_est.py">
              <remap from="base_vel" to="velocity"/>
        </node>

	<!-- Connect to hokuyo -->
	<include file="$(find hardware_bridge)/launch/base_laser_connect.launch"/>
</launch>
