<launch>

    <arg name="use_local_robot_descriptions" default="true"/>

    <!-- Connect to base and joy -->
    <include file="$(find hardware_bridge)/launch/joy_play.launch"/>

    <!--<node pkg="hardware_bridge" type="odometry_est.py" name="odometry_est" output="screen"/>-->
    <node ns="base" name="odometry_est" pkg="hardware_bridge" type="odometry_est.py">
        <remap from="base_vel" to="velocity"/>
    </node>

    <!-- Connect to hokuyo -->
    <include file="$(find hardware_bridge)/launch/base_laser_connect.launch"/>

    <!-- Publish odom transform -->
    <!-- <include file="$(find hardware_bridge)/launch/laser_scan_matcher.launch"/> -->

    <!-- Publish transform  -->
    <include if="$(arg use_local_robot_descriptions)" file="$(find hardware_bridge)/launch/robot_state_publisher.launch"/>


    <!--<include file="$(find hardware_bridge)/launch/laser_imu.launch"/>-->

    <node pkg="um6" type="um6_driver" name="imu_um6" output="screen">
	<param name="port" value="/dev/ttyUSB-IMU"/>
    </node>
    
    <!-- Connect to IMU -->
    <!--<include file="$(find hardware_bridge)/launch/base_IMU_connect.launch"/>-->

</launch>
