<launch>

  <!-- Bring up Kinect -->
  <include file="$(find openni2_launch)/launch/openni2.launch"/>
  
  <!-- Bring up webcam -->
  <!-- <include file="$(find hardware_bridge)/launch/open_webcam.launch"/> -->
  <!-- <node ns="external_cam" pkg="image_proc" type="image_proc" name="image_proc"/> -->

  <include file="$(find camera_pose_calibration)/launch_extrinsics/calibrate_2_camera.launch">
    <arg name="camera1_ns" value="/camera/ir"/>
    <arg name="camera2_ns" value="/camera/rgb"/>
    <arg name="checker_rows" value="6"/>
    <arg name="checker_cols" value="8"/>
    <arg name="checker_size" value="0.09188"/>
  </include>  
  <node ns="/camera/rgb" pkg="image_proc" type="image_proc" name="image_proc"/>
  <node ns="/camera/ir" pkg="image_proc" type="image_proc" name="image_proc"/>

  <include file="$(find camera_pose_calibration)/blocks/calibration_tf_publisher.launch">
    <arg name="cache_file" value="$(find hardware_bridge)/calibrations/kinect_extrinsics_cache.bag" />
  </include>

</launch>
