<launch>

    <arg name="dynamixel_port_name" default="/dev/ttyUSB0"/>

    <node ns="dynamixel" name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <param name="serial_ports/actuator_port/port_name" value="$(arg dynamixel_port_name)"/>
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                actuator_port:
                    baud_rate: 57600
                    min_motor_id: 1
                    max_motor_id: 50
                    update_rate: 15
        </rosparam>
    </node>
    
    <!-- Load controller configuration to parameter server -->
    <rosparam ns="dynamixel" file="$(find hardware_bridge)/launch/config/dynamixel_joint_controllers.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node ns="dynamixel" name="dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port=actuator_port
                --type=simple
                left_motor
		prismatic
                pan_kinect
                tilt_kinect
                mark44_1
                mark44_2
                mark44_3
		joint1
		joint2
		joint3
		gripper
		hand_R_45
		hand_R_46
		hand_R_47
		gripper_R_48
           	"
          output="screen"/>
          
</launch>
