<launch>
	<node name="odometry_est" pkg="hardware_bridge" type="odometry_est.py"/>
	<node name="pan_tilt_control" pkg="hardware_bridge" type="pan_tilt_height_control.py"/>

	<include file="$(find hardware_bridge)/launch/base_connect.launch">
	
	<include file="$(find hardware_bridge)/launch/dynamixel_connect.launch">
		<arg name="dynamixel_port_name" value="/dev/ttyUSB1"/>
        </include>

	<include file="$(find hardware_bridge)/launch/open_webcam.launch"/>
	<!--<include file="$(find hardware_bridge)/launch/open_kinect_webcam.launch"/> -->
	<include file="$(find hardware_bridge)/launch/base_laser_launch.launch"/>

</launch>
