<launch>
  <!-- Set this to your camera's name -->
  <arg name="cam_name" value="logitech_cam" />

  <!-- Start the GSCAM node -->
<!--  <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video1 ! video/x-raw-yuv,framerate=30/1,width=1280,height=720 ! ffmpegcolorspace " /> -->
  <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video1 ! video/x-raw-yuv,framerate=30/1,width=640,height=480 ! ffmpegcolorspace " />
  <node pkg="robot_connect" type="gscam" name="$(arg cam_name)" output="screen">
    <param name="camera_info_path" value="$(find robot_connect)/calibrations/head_camera.yaml" />
  </node>

  <!-- Provide rectification -->
  <!--<node pkg="image_proc" type="image_proc" name="logitech_image_proc" ns="$(arg cam_name)" output="screen" />-->

  <!-- View the raw and rectified output -->
  <!--node pkg="image_view" type="image_view" name="$(arg cam_name)_view">
    <remap from="image" to="/$(arg cam_name)/image_raw"/>
  </node-->
    
  <!--node pkg="image_view" type="image_view" name="creative_view_rect" -->
    <!--remap from="image" to="/$(arg cam_name)/image_rect_color" /-->
  <!--/node-->
</launch>

